body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 100px auto;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    color: #333;
  }
  
  .weather-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 20px;
  }
  
  .location {
    font-size: 24px;
    color: #333;
  }
  
  .temp {
    font-size: 48px;
    color: #777;
    margin-top: -10px;
  }
  
  .desc {
    font-size: 18px;
    color: #777;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  

  .form {
    margin-top: 30px;
  }
  
  .city-input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
.container{
  text-align: center;
  
}
@media only screen and (max-width:325px) {
  .container{
    width: 200px;
    margin: 50px auto;
    text-align: center;
  }
  .title{
    padding: 0px;
    text-align: center;
  }
    h3{
       text-align: center;
    }
}
